* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.allPosts {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.posts {
  margin: 0 auto;
  padding: 60px 20px;
  width: 50%;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.creator {
  font-size: 20px;
  padding: 16px 5px;
  font-weight: bold;
}
.date {
  font-size: 14px;
  color: gray;
  margin-top: -20px;
  padding: 0px 5px;
}
p.body {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.02);
}
img.notLiked {
  filter: grayscale(100%);
}
textarea {
  width: 100%;
  border-radius: 10px;
  border-style: solid;
}
p a {
  color: #007bff !important;
  font-size: 14px;
}
p a:hover {
  text-decoration: underline;
}
a.cancel {
  color: red !important;
}
a.save {
  color: #007bff !important;
}
div.Profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 14px;
}
#name {
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
}
.Follow_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: center;
}
.Follow_block div {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.Follow_block div:last-child {
  border-left: 1.5px solid black;
}
.Follow_block div:first-child {
  border-right: 1.5px solid black;
}
.Follow_block div p {
  font-size: 18px;
}
